@import "src/shared/variables";

.sound-tile {
  .sound-tile-content {
    .sound-tile-body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 24px;

      input[type="text"] {
        width: 90%;
        height: 32px;
        padding: 8px;
        background-color: #dfdfe0;
        border: solid 1px $text_color;
        border-radius: 4px;
        color: $grey;
        transition: border 0.3s;

        &:focus-visible {
          border-color: $blue;
          outline: unset;
        }
      }
    }

    .sound-tile-footer {
      input[type="file"] {
        display: none;
      }
    }
  }
}
