<form
  class="sound-form-tile"
  enctype="multipart/form-data"
  [formGroup]="form"
  (submit)="onSubmit()"
  (reset)="onReset()"
>
  <img class="sound-image" [src]="imagePreview" alt="image of sound" />

  <div class="sound-tile-content">
    <div class="sound-tile-header">
      <input
        id="{{ formAttributes.TITLE }}"
        name="{{ formAttributes.TITLE }}"
        type="text"
        placeholder="{{ 'sounds.titlePlaceholder' | translate }}"
        formControlName="{{ formAttributes.TITLE }}"
      />

      <input
        id="{{ formAttributes.TAGS }}"
        name="{{ formAttributes.TAGS }}"
        type="text"
        placeholder="{{ 'sounds.tagsPlaceholder' | translate }}"
        formControlName="{{ formAttributes.TAGS }}"
      />
    </div>

    <div class="sound-tile-footer">
      <button type="reset" class="button-icon undo">
        <mat-icon class="material-icons">undo</mat-icon>
      </button>

      <label
        for="{{ formAttributes.IMAGE }}{{ this.sound?._id ?? 0 }}"
        class="custom-file-upload"
      >
        <span class="button button-icon image">
          <mat-icon class="material-icons">image</mat-icon>
        </span>
      </label>
      <input
        id="{{ formAttributes.IMAGE }}{{ this.sound?._id ?? 0 }}"
        name="{{ formAttributes.IMAGE }}"
        type="file"
        accept="{{ imageExtensions }}"
        formControlName="{{ formAttributes.IMAGE }}"
        (input)="onFileChange($event, formAttributes.IMAGE_SOURCE)"
      />

      <label
        for="{{ formAttributes.AUDIO }}{{ this.sound?._id ?? 0 }}"
        class="custom-file-upload"
      >
        <span class="button button-icon album">
          <mat-icon class="material-icons">album</mat-icon>
        </span>
      </label>
      <input
        id="{{ formAttributes.AUDIO }}{{ this.sound?._id ?? 0 }}"
        name="{{ formAttributes.AUDIO }}"
        type="file"
        accept="{{ audioExtensions }}"
        formControlName="{{ formAttributes.AUDIO }}"
        (input)="onFileChange($event, formAttributes.AUDIO_SOURCE)"
      />

      <div class="button button-icon play" *ngIf="hasAudio">
        <mat-icon class="material-icons" (click)="playSound()"
          >play_circle</mat-icon
        >
      </div>

      <button
        type="submit"
        class="button-icon check"
        [ngClass]="{ disabled: form.invalid }"
      >
        <mat-icon class="material-icons">check</mat-icon>
      </button>
    </div>
  </div>
</form>
