@import "src/shared/variables";

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: $light_grey;
}

body,
button,
a {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: $text_color;
}

button,
a {
  user-select: none;
}

button {
  color: $text_color;
  border: 1px solid $orange;
  border-radius: 4px;
  background-color: $orange;
  padding: 12px 24px;
  cursor: pointer;
  transition: opacity 0.3s;

  &:hover {
    opacity: 0.7;
  }
}

a {
  text-decoration: none;
}

.main-content {
  width: 1272px;
  margin: 0 auto;
  padding: 48px 0;
}
