# Common
.scannerwork/
.nyc_output
logs/
./uploads/
/uploads/

# Client
client/extracted
client/.angular

# API
api/src/helpers/ad-data/adKeys.json
api/config/test.json
api/config/development.json
api/cert/**

# Testing
/coverage
coverage/
/api/test/performance/results/
/api/load-test/target
/api/load-test/gatling*
/results

# Node
**/node_modules
**/build
dist/

# IntelliJ project files
.idea
*.iml
out
gen

# Eclipse project files
.metadata
*.tmp
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# Visual Studio project files
.vscode/

# Misc
.DS_Store
**/.env
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local

# Docker
data/init/dump.sql
data/postgres
data/redis
data/redis.conf
data/mongodb/data

# compiled output
/dist
/node_modules

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Tests
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
