@import "src/shared/variables";
$border-radius: 8px;

.sound-tile {
  width: 300px;

  border: 1px solid $light_grey;
  border-radius: $border-radius;
  user-select: none;
  overflow: hidden;
  position: relative;
  height: max-content;

  .sound-image {
    border-radius: $border-radius;
    position: relative;
    width: 100%;
    z-index: 0;
  }

  .sound-tile-content {
    position: absolute;
    top: 0;
    z-index: 1;
    height: calc(100% - 6px);
    width: 100%;
    display: flex;
    flex-direction: column;

    .sound-title,
    .sound-tile-footer {
      padding: 12px 24px;
    }

    .sound-title {
      flex: 1;
      overflow: hidden;
      text-align: center;
      font-size: 40px;
      line-height: 40px;
      text-transform: uppercase;
      text-shadow: 2px 3px 3px black;
    }

    .sound-tile-footer {
      display: flex;
      justify-content: space-between;
      background-color: rgba(0, 0, 0, 0.3);
      border-bottom-left-radius: $border-radius;
      border-bottom-right-radius: $border-radius;

      .button-icon {
        $icon-size: 30px;
        height: $icon-size;
        width: $icon-size;
        cursor: pointer;
        transition: color 0.3s;

        mat-icon {
          font-size: $icon-size;
        }

        &.delete:hover {
          color: $red;
          border-color: $red;
        }

        &.undo:hover {
          color: $orange;
          border-color: $orange;
        }

        &.play:hover,
        &.edit:hover {
          color: $blue;
          border-color: $blue;
        }

        &.check:hover {
          color: $green;
          border-color: $green;
        }
      }
    }
  }
}
