<div class="sound-tile" *ngIf="sound && !isEditing">
  <img class="sound-image" src="{{ sound.imageUrl }}" alt="image of sound" />

  <div class="sound-tile-content">
    <div class="sound-tile-body">
      {{ sound.title }}
    </div>

    <div class="sound-tile-footer" *ngIf="!isEditing">
      <div class="button button-icon delete">
        <mat-icon (click)="deleteSound()">delete</mat-icon>
      </div>

      <div class="button button-icon play" *ngIf="!!sound.audioUrl">
        <mat-icon (click)="playSound()">play_circle</mat-icon>
      </div>

      <div class="button button-icon edit">
        <mat-icon (click)="editSound()">edit</mat-icon>
      </div>
    </div>
  </div>
</div>

<app-sound-form-tile
  [sound]="sound"
  (undoEdition)="undoEdition()"
  *ngIf="sound && isEditing"
></app-sound-form-tile>
