@import "src/shared/variables";

#sounds {
  height: $content_height;

  .sound-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    justify-content: space-between;
    gap: 24px;
  }
}
