<div id="sounds" class="main-content">
  <div *ngIf="soundService.sounds === undefined">Undefined</div>

  <ngx-masonry
    [options]="masonryOptions"
    [ordered]="true"
    class="sound-list"
    *ngIf="soundService.sounds !== undefined"
  >
    <div
      ngxMasonryItem
      class="masonry-item"
      *ngFor="let sound of soundService.sounds; index as i"
    >
      <app-sound-form-tile *ngIf="i === 0"></app-sound-form-tile>
      <app-sound-tile [sound]="sound" *ngIf="i > 0"></app-sound-tile>
    </div>
  </ngx-masonry>
</div>
