<div id="sounds" class="main-content">
  <div>{{ "sounds.soundPage" | translate }}</div>

  <br />

  <div *ngIf="soundService.sounds === undefined">Undefined</div>

  <ngx-masonry
    [options]="masonryOptions"
    [ordered]="true"
    class="sound-list"
    *ngIf="soundService.sounds !== undefined"
  >
    <div
      ngxMasonryItem
      class="masonry-item"
      *ngFor="let sound of soundService.sounds"
    >
      <app-sound-tile [sound]="sound"></app-sound-tile>
    </div>
  </ngx-masonry>
</div>
